/*网页尾部*/
.foot{width:100%;}
.foot>.foot-top{
	background:#F0F0F0;
	padding:0 50px;
}
.foot>.foot-top>.company{
	line-height:140px;
}
.foot>.foot-top>.company>hr{
	background:#E8E8E8;
	opacity:0.5;
}
.foot>.foot-top>.company>span{
	font-size:18px;
	margin-right:120px;
}
/*背景图片定位*/
.foot>.foot-top>.company>.f1{
	display:inline-block;
	width:48px;
	height:50px;
	background:url(../img/page/icon-common.png) 402px -148px;
	vertical-align:middle;
	
}
.foot>.foot-top>.company .f2{
	display:inline-block;
	width:48px;
	height:50px;
	background:url(../img/page/icon-common.png) 307px -148px;
	vertical-align:middle;
}
.foot>.foot-top>.company .f3{
	display:inline-block;
	width:48px;
	height:50px;
	background:url(../img/page/icon-common.png) 460px -148px;
	vertical-align:middle;
}
.foot>.foot-top>.company .f4{
	display:inline-block;
	width:48px;
	height:50px;
	background:url(../img/page/icon-common.png) 354px -148px;
	vertical-align:middle;
}
/*所有文字弹性布局*/
.foot>.foot-top>.footer-serve{
	display:flex;
	justify-content:space-between;
	margin-top:20px;
}
/*设置文字的下内边距*/
.foot>.foot-top>.footer-serve h3{
	padding-bottom:10px;
}
/*设置所有文字的颜色*/
.foot>.foot-top>.footer-serve a{
	display:inline-block;
	color:#4D4E4E;
	padding-top:10px;
}
.foot>.foot-top>.footer-serve a:hover{
	color:red;
}
/*设置在线客服和不良信息的边框和字体颜色*/
.foot>.foot-top>.footer-serve>.custom>.on-line{
	width:200px;
	height:40px;
	border:1px solid #E4E4E4;
	background:#fff;
	margin:15px 0;
	text-align:center;
}
.foot>.foot-top>.footer-serve>.custom>.on-line>a{
	color:red;
}
.foot>.foot-top>.footer-serve>.custom>.report{
	width:200px;
	height:40px;
	border:1px solid #E4E4E4;
	background:#fff;
	text-align:center;
}
.foot>.foot-top>.footer-serve>.custom>.report>a{
	color:red;
}
/*背景图片定位*/
.foot>.foot-top>.footer-serve>.custom>.on-line>span{
	display:inline-block;
	width:22px;
	height:23px;
	background:url(../img/page/icon2.png) 100px 3px;
	vertical-align:middle;
}
.foot>.foot-top>.footer-serve>.custom>.report>span{
	display:inline-block;
	width:22px;
	height:23px;
	background:url(../img/page/icon2.png) 21px 2px;
	vertical-align:middle;
}
.foot>.foot-bottom{
	background:#E6E6E6;
	height:120px;
	display:flex;
	padding-left:50px;
}
/*背景图片定位*/
.foot>.foot-bottom>a{
	display:inline-block;
	width:82px;
	height:20px;
	background:url(../img/page/icon-common.png) -99px 194px;
	vertical-align:middle;
	margin:40px 20px 20px 0;
}
.foot>.foot-bottom>.copr>li{
	margin:15px;
	font-size:13px;
	color:#a4a4a4;
}
.foot>.foot-bottom>.print>a{
	display:inline-block;
	margin:40px 50px;
}